#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* styles for the profile */

.profile-box {
  padding-top: 24px;
  width: 480px;
  border: 2px solid #000;
  border-radius: 16px;
  background-color: white;
  overflow: hidden;
  margin: 0 auto;
}

.profile-image {
  margin: 0 auto;
  width: 220px;
  border-radius: 50%;
  background-color: #242122;
  box-shadow: 0 4px 4px #242122;
}

.title-name {
  margin-top: 24px;
  color: black;
  font-size: 40px;
  font-weight: 700;
}

.nick-name {
  margin-top: 24px;
  color: grey;
  font-size: 24px;
}

.location {
  margin-top: 8px;
  color: grey;
  font-size: 24px;
}

.stats-list {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(190, 189, 189);
}

.stats-list-item {
  padding: 16px 8px;
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 1px solid grey;
}

.stats-list-title {
  color: #000;
  font-size: 24px;
}

.stats-list-sum {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}